{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#{% load staticfiles %}#}
{##}
{#<html lang="en">#}
{#<body class="">#}
{#    <div id="property-single">#}
{#        <div id="main-slider">#}
{#            <div class="slide"><img src="assets/images/slider/1.jpg" alt="Slide"></div>#}
{#            <div class="slide"><img src="assets/images/slider/2.jpg" alt="Slide"></div>#}
{#            <div class="slide"><img src="assets/images/slider/3.jpg" alt="Slide"></div>#}
{#            <div class="slide"><img src="assets/images/slider/4.jpg" alt="Slide"></div>#}
{#        </div>#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-8 col-md-7">#}
{#                    <section class="property-meta-wrapper common">#}
{#                        <h3 class="entry-title">Guaranteed modern home</h3>#}
{#                        <div class="property-single-meta">#}
{#                            <ul class="clearfix">#}
{#                                <li><span>Property Size :</span> 2560 Sq Ft</li>#}
{#                                <li><span>Property ID :</span> #223a23</li>#}
{#                                <li><span>Bedrooms :</span> 03 Room</li>#}
{#                                <li><span>Bathrooms :</span> 05 Room</li>#}
{#                                <li><span>Garage Size :</span> Yes - 200 SqFt </li>#}
{#                                <li><span>Year Built :</span> 2016-01-09</li>#}
{#                                <li><span>Price :</span> $97,000</li>#}
{#                                <li><span>Address :</span> 14 Tottenham Road, London</li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </section>#}
{#                    <section class="property-contents common">#}
{#                        <div class="entry-title clearfix">#}
{#                            <h4 class="pull-left">Description </h4><a class="pull-right print-btn" href="javascript:window.print()">Print This Property <i class="fa fa-print"></i></a>#}
{#                        </div>#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat, lacus at pulvinar pharetra, sem metus pulvinar leo, ut adipiscing velit ipsum vel dui. Nam volutpat lacinia viverra. Proin tristique tortor sit amet viverra scelerisque. Vivamus convallis varius massa id dictum. Sed facilisis massa turpis, ut dictum leo laoreet nec. Nam ac scelerisque sapien, eu laoreet justo. Cras vel tristique nunc. Nulla risus mi, laoreet eu commodo at, faucibus sed diam. Vivamus ac augue lacinia, aliquam urna nec, accumsan ante. Pellentesque rutrum massa ut augue gravida, et feugiat diam fringilla. Ut rhoncus pulvinar mi a ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posu ere cubilia curae duis at urna ac nulla vestibulum.</p>#}
{#                    </section>#}
{#                    <section class="property-single-features common clearfix">#}
{#                        <h4 class="entry-title">Property Features</h4>#}
{#                        <ul class="property-single-features-list clearfix">#}
{#                            <li>Air Conditioning</li>#}
{#                            <li>Cable TV</li>#}
{#                            <li>Cot</li>#}
{#                            <li class="disabled">Fan</li>#}
{#                            <li>Lift</li>#}
{#                            <li>Parking</li>#}
{#                            <li>Separate Shower</li>#}
{#                            <li>Office/den</li>#}
{#                            <li class="disabled">Air Conditioning</li>#}
{#                            <li>Cable TV</li>#}
{#                            <li>Cot</li>#}
{#                            <li>Fan</li>#}
{#                            <li>Lift</li>#}
{#                            <li class="disabled">Parking</li>#}
{#                            <li>Cot</li>#}
{#                            <li>Fan</li>#}
{#                            <li>Lift</li>#}
{#                            <li>Parking</li>#}
{#                            <li>Separate Shower</li>#}
{#                            <li class="disabled">Office/den</li>#}
{#                            <li>Air Conditioning</li>#}
{#                            <li>Cable TV</li>#}
{#                        </ul>#}
{#                    </section>#}
{#                    <section class="property-agent common">#}
{#                        <h4 class="entry-title">Contact Agent</h4>#}
{#                        <div class="row">#}
{#                            <div class="col-lg-7">#}
{#                                <div class="agent-box clearfix">#}
{#                                   <div class="row">#}
{#                                       <div class="col-sm-5 col-xs-5">#}
{#                                           <a href="#" class="agent-image"><img src="assets/images/agents/2.jpg" alt="Agent Image"></a>#}
{#                                       </div>#}
{#                                       <div class="col-sm-7 col-xs-7">#}
{#                                           <cite class="agent-name">Michelle Ramirez</cite>#}
{#                                           <small class="designation">Company Agent at Realtory Inc. </small>#}
{#                                           <ul class="agent-social-handlers clearfix">#}
{#                                               <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>#}
{#                                               <li><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>#}
{#                                               <li><a href="#"><i class="fa fa-pinterest-square"></i> Pinterest</a></li>#}
{#                                               <li><a href="#"><i class="fa fa-google-plus-square"></i> Google Plus</a></li>#}
{#                                           </ul>#}
{#                                           <a href="#" class="btn btn-warning">View Profile</a>#}
{#                                       </div>#}
{#                                   </div>#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. luctus ligula ac faucibus faucibus. Cras in nisi in turpis eleifend vehicula at at massa. Vivamus aliquet porttitor odio.</p>#}
{#                                </div>#}
{#                                <div class="widget address-widget clearfix">#}
{#                                    <ul>#}
{#                                        <li><i class="fa fa-map-marker"></i> 4 Tottenham Road, London, England.</li>#}
{#                                        <li><i class="fa fa-phone"></i> (123) 45678910</li>#}
{#                                        <li><i class="fa fa-envelope"></i> huycoi.art@gmail.com</li>#}
{#                                        <li><i class="fa fa-fax"></i> +84 962 216 601</li>#}
{#                                        <li><i class="fa fa-clock-o"></i> Mon - Sat: 9:00 - 18:00</li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-5">#}
{#                                <div class="agent-contact-form">#}
{#                                    <form id="agent-form" class="agent-form" method="post" action="#">#}
{#                                        <input type="text" name="name" placeholder="Full Name" class="required" >#}
{#                                        <input type="text" name="phone" placeholder="Phone Number" class="required">#}
{#                                        <input type="text" name="email" placeholder="Email" class="email required">#}
{#                                        <textarea name="message" cols="30" rows="5" class="required" placeholder="Message"></textarea>#}
{#                                        <button class="btn btn-default btn-lg btn-3d" type="submit" data-hover="SUBMIT REQUEST">SUBMIT REQUEST</button>#}
{#                                        <div class="error-container"></div>#}
{#                                        <div class="message-container"></div>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </section>#}
{#                </div>#}
{#        </div>#}
{#    </form>#}
{#        </div>#}
{#</div></section>#}
{##}
{#<footer id="footer">#}
{#<div class="site-footer">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-4 col-sm-6">#}
{#                <section class="widget about-widget clearfix">#}
{#                    <h4 class="title hide">About Us</h4>#}
{#                    <a class="footer-logo" href="#"><img src="assets/images/footer-logo.png" alt="Footer Logo"></a>#}
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>#}
{#                    <ul class="social-icons clearfix">#}
{#                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
{#                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>#}
{#                    </ul>#}
{#                </section>#}
{#            </div>#}
{#            <div class="col-md-4 col-sm-6">#}
{#                <section class="widget twitter-widget clearfix">#}
{#                    <h4 class="title">Latest Tweets</h4>#}
{#                    <div id="twitter-feeds" class="clearfix"></div>#}
{#                </section>#}
{#            </div>#}
{#            <div class="col-md-4 col-sm-6">#}
{#                <section class="widget address-widget clearfix">#}
{#                    <h4 class="title">OUR OFFICE</h4>#}
{#                    <ul>#}
{#                        <li><i class="fa fa-map-marker"></i> 4 Tottenham Road, London, England.</li>#}
{#                        <li><i class="fa fa-phone"></i> (123) 45678910</li>#}
{#                        <li><i class="fa fa-envelope"></i> huycoi.art@gmail.com</li>#}
{#                        <li><i class="fa fa-fax"></i> +84 962 216 601</li>#}
{#                        <li><i class="fa fa-clock-o"></i> Mon - Sat: 9:00 - 18:00</li>#}
{#                    </ul>#}
{#                </section>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#    <div class="site-footer-bottom">#}
{#        <div class="container">#}
{#          <p class="copyright pull-left wow slideInRight">Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>#}
{#            <nav class="footer-nav pull-right wow slideInLeft">#}
{#                <ul>#}
{#                    <li><a href="#">Terms & Conditions</a></li>#}
{#                    <li><a href="#">Pricing</a></li>#}
{#                    <li><a href="#">Contact</a></li>#}
{#                </ul>#}
{#            </nav>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}
{#<a href="#top" id="scroll-top"><i class="fa fa-angle-up"></i></a>#}
{#<!--&lt;!&ndash; jQuery (necessary for Bootstrap's JavaScript plugins) &ndash;&gt;-->#}
{#<!--<script src="assets/js/jquery.min.js"></script>-->#}
{#<!--<script src="assets/js/jquery.migrate.js"></script>-->#}
{#<!--<script src="assets/js/bootstrap.min.js"></script>-->#}
{#<!--<script src="plugins/slick-nav/jquery.slicknav.min.js"></script>-->#}
{#<!--<script src="plugins/slick/slick.min.js"></script>-->#}
{#<!--<script src="plugins/jquery-ui/jquery-ui.min.js"></script>-->#}
{#<!--<script src="plugins/tweetie/tweetie.js"></script>-->#}
{#<!--<script src="plugins/forms/jquery.form.min.js"></script>-->#}
{#<!--<script src="plugins/forms/jquery.validate.min.js"></script>-->#}
{#<!--<script src="plugins/modernizr/modernizr.custom.js"></script>-->#}
{#<!--<script src="plugins/wow/wow.min.js"></script>-->#}
{#<!--<script src="plugins/zoom/zoom.js"></script>-->#}
{#<!--<script src="plugins/mixitup/mixitup.min.js"></script>-->#}
{#<!--&lt;!&ndash;-<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyD2MtZynhsvwI2B40juK6SifR_OSyj4aBA&libraries=places"></script>-&ndash;&gt;-->#}
{#<!--<script src="plugins/whats-nearby/source/WhatsNearby.js"></script>-->#}
{#<!--<script src="assets/js/theme.js"></script>-->#}
{#</body>#}
{#</html>#}
{#{% endblock %}#}





{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<body class="">
    <div id="property-single">
        <div id="main-slider">
            <div class="slide"><img src="{% static 'assets/images/slider/1.jpg' %}" alt="Slide"></div>
            <div class="slide"><img src="{% static 'assets/images/slider/2.jpg' %}" alt="Slide"></div>
            <div class="slide"><img src="{% static 'assets/images/slider/3.jpg' %}" alt="Slide"></div>
            <div class="slide"><img src="{% static 'assets/images/slider/4.jpg' %}" alt="Slide"></div>
        </div>

         <div class="container">
            <div class="row">
{#                {% for post_detail_list in post_detail_list %}#}
                <div class="col-lg-8 col-md-7">
                    <section class="property-meta-wrapper common">
                        <h3 class="entry-title">{{ post_detail.name }}</h3>
                        <div class="property-single-meta">
                            <ul class="clearfix">
                                <li><span>Property Size :</span> {{ post_detail.property_size }}</li>
                                <li><span>Property ID :</span> {{ post_detail.property_id }}</li>
                                <li><span>Bedrooms :</span> {{ post_detail.bedrooms }}</li>
                                <li><span>Bathrooms :</span> {{ post_detail.bathrooms }}</li>
                                <li><span>Garage Size :</span> {{ post_detail.garage_size }} </li>
                                <li><span>Year Built :</span> {{ post_detail.year_built }}</li>
                                <li><span>Price :</span> {{ post_detail.price }}</li>
                                <li><span>Address :</span> {{ post_detail.address }}</li>

                            </ul>
                        </div>
                    </section>

                </div>
            </div>
        </div>
{% endblock %}
